# Server Port
PORT=3000

# Target Crazii API Auth Bearer Token (Auto-managed from Refresh Token)
AUTH_TOKEN=

# Crazii 3-Day Refresh Token
REFRESH_TOKEN=

# Device ID used for Crazii Cloudflare/Device bypass
DEVICE_ID=fb70bf82-5d83-4c70-b7e6-9896bda770e7
