# Server Port
PORT=3000

# Target Crazii API Auth Bearer Token (Auto-managed from Refresh Token)
CRAZII_ACCESS_TOKEN=

# Crazii 3-Day Refresh Token
CRAZII_REFRESH_TOKEN=

# Device ID used for Crazii Cloudflare/Device bypass
CRAZII_DEVICE_ID=fb70bf82-5d83-4c70-b7e6-9896bda770e7
